@import "../../../../styles/responsive.scss";

.headerBox {
    color: white;
    min-height: 60vh;
    background: hsla(262, 52%, 47%, 1);

    background: linear-gradient(135deg, hsla(262, 52%, 47%, 1) 0%, hsla(0, 5%, 17%, 1) 100%);

    @include md {
        min-height: 50vh;
    }

    .navbar {
        display: flex;
        padding: 10px 10px;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;

        ul {
            display: flex;
            gap: 20px;
            list-style: none;
            margin: 0px;
            padding: 0px;

            li {
                cursor: pointer;
                @include sm {
                    font-size: small;
                }
                a {
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }

    .appBox {
        align-items: center;
        justify-content: space-around;
        display: flex;
        padding: 20px 0px;
        height: 100%;
        .description {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 15px;
            height: 100%;
            width: 420px;

            @include md {
                text-align: center;
            }
        }

        .screenPhone {
            display: flex;
            justify-content: left;
            align-items: center;
            img {
                width: 300px;
            }
            @include md {
                display: none;
            }
        }
    }
}
