.presentationPage {
    min-height: 100vh;
    background: #191717;

    .newsLetter {
        padding: 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}
