.presentationPage {
    min-height: 100vh;

    .headerBox {
        color: white;
        min-height: 70vh;
        background: rgb(58, 73, 180);
        background: linear-gradient(
            145deg,
            rgba(58, 73, 180, 1) 20%,
            rgba(29, 195, 253, 1) 50%,
            rgba(58, 73, 180, 1) 80%
        );
        .navbar {
            display: flex;
            padding: 10px 50px;
            ul {
                display: flex;
                gap: 20px;
                list-style: none;

                li {
                    cursor: pointer;
                }
            }
        }
        .appBox {
            align-items: center;
            justify-content: space-around;
            display: flex;
            padding: 20px;
            .description {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 15px;
            }

            .screenPhone {
                display: flex;
                justify-content: left;
                align-items: center;
                img {
                    width: 300px;
                }
            }
        }
    }

    .functionalityBox {
        height: 40vh;
    }

    .graphicApp {
        height: 50vh;
    }

    .videoPresentation {
        color: white;
        min-height: 70vh;
        background: rgb(58, 73, 180);
        background: linear-gradient(
            57deg,
            rgba(58, 73, 180, 1) 0%,
            rgba(29, 195, 253, 1) 50%,
            rgba(69, 252, 241, 1) 100%
        );
    }

    .valutation {
        height: 50vh;
    }

    .footer {
        height: 30vh;
    }
}
