@import "../../styles/responsive.scss";

.cookie-modal {
    background-color: rgba(45, 41, 41, 0.9);
    color: white;

    padding: 10px 20px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    @include md {
        height: 20vh;
        overflow-x: hidden;
        overflow-y: scroll;
        flex-direction: column;

        padding: 10px 0px;

        .button-control {
            justify-content: space-between;
        }
    }

    .content-paragraph {
        width: 70%;
    }

    .button-control {
        display: flex;
        justify-content: center;
        gap: 10px;
        flex-direction: column;
    }
}

a {
    color: whitesmoke;
}

.list-cookies {
    list-style-type: none;
    li {
        font-size: large;
    }
}
