@import "../../../../styles/responsive.scss";

.videoPresentation {
    color: white;
    min-height: 70vh;
    background: rgb(58, 73, 180);
    background: linear-gradient(
            57deg,
            rgba(58, 73, 180, 0.9) 0%,
            rgba(29, 195, 253, 0.9) 50%,
            rgba(69, 252, 241, 0.9) 100%
        ),
        url("./../../../../../public/work_phone.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    @include sm {
        min-height: 50vh;
    }
    @include md {
        min-height: 60vh;
    }

    .title {
        justify-content: center;
        text-align: center;
    }

    p {
        margin: 0px 0px;
    }
}
