.privacy-policy {
    color: white;
    background: #191717;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .header-box {
        height: 20vh;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-bottom: 20px;
        background: hsla(262, 52%, 47%, 1);

        background: linear-gradient(135deg, hsla(262, 52%, 47%, 1) 0%, hsla(0, 5%, 17%, 1) 100%);
    }
}
