@import "../../../../styles/responsive.scss";

.functionalityBox {
    color: white;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    @include md {
        display: none;
        margin-bottom: 40px;
    }

    .title {
        margin-top: 20px;
        font-size: 32px;
        font-weight: 600;
    }
    .description {
        text-align: center;
        padding: 0px 10px;
    }

    .listTips {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;

        @include md {
            flex-direction: column;
        }

        .box {
            height: 250px;
            width: 200px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            @include lg {
                height: 150px;
                width: 150px;
            }
        }
    }
}
