@import "../../../../styles/responsive.scss";

.reviews {
    color: whitesmoke;
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .listReviews {
        display: flex;
        flex-direction: row;
        gap: 30px;
        padding: 20px;
        @include md {
            flex-direction: column;
        }

        .cardReview {
            width: 250px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;

            @include lg {
                width: 225px;
            }

            .headerImg {
                img {
                    width: 100px;
                    height: 100px;
                    object-fit: contain;
                    border-radius: 50%;
                }
            }
            .userName {
                text-align: center;
            }
            p {
                text-align: center;
            }
        }
    }
}
